[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "*"
asgiref = "*"
autopep8 = "*"
billiard = "*"
awsebcli = "*"
boto3 = "*"
botocore = "*"
brotli = "*"
cachetools = "*"
celery = "*"
cement = "*"
certifi = "*"
cffi = "*"
chardet = "*"
charset-normalizer = "*"
click = "*"
click-didyoumean = "*"
click-plugins = "*"
click-repl = "*"
colorama = "*"
coreapi = "*"
coreschema = "*"
cryptography = "*"
dash = "*"
dash-core-components = "*"
dash-html-components = "*"
dash-renderer = "*"
dash-table = "*"
defusedxml = "*"
distlib = "*"
dj-rest-auth = "*"
django = "*"
django-allauth = "*"
django-cors-headers = "*"
django-filter = "*"
django-phonenumber-field = "*"
django-rest-auth = "*"
django-rest-auth-forked = "*"
django-rest-passwordreset = "*"
django-rest-sms-auth = "*"
django-storages = "*"
django-templated-mail = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
docutils = "*"
drf-yasg = "*"
facebook-sdk = "*"
faker = "*"
filelock = "*"
flask = "*"
flask-compress = "*"
future = "*"
google-api-core = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
googleapis-common-protos = "*"
gunicorn = "==20.0.2"
httplib2 = "*"
idna = "*"
inflection = "*"
install = "*"
itsdangerous = "*"
itypes = "*"
jinja2 = "*"
jmespath = "*"
kombu = "*"
markdown = "*"
markupsafe = "*"
oauthlib = "*"
packaging = "*"
pathspec = "*"
phonenumbers = "*"
pillow = "*"
pipenv = "*"
platformdirs = "*"
plotly = "*"
prompt-toolkit = "*"
protobuf = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycodestyle = "*"
pycparser = "*"
pyjwt = "*"
pyparsing = "*"
pyqt5 = "*"
pyqt5-qt5 = "*"
pyqt5-sip = "*"
python-dateutil = "*"
python-dotenv = "*"
python-twitter = "*"
python3-openid = "*"
pytz = "*"
pyyaml = "*"
qtwidgets = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
"ruamel.yaml" = "*"
"ruamel.yaml.clib" = "*"
s3transfer = "*"
semantic-version = "*"
six = "*"
social-auth-app-django = "*"
social-auth-core = "*"
sqlparse = "*"
tenacity = "*"
termcolor = "*"
text-unidecode = "*"
toml = "*"
twilio = "*"
typing-extensions = "*"
tzdata = "*"
uritemplate = "*"
urllib3 = "*"
vine = "*"
virtualenv = "*"
virtualenv-clone = "*"
wcwidth = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.8"
